
## MACOS ENV
.DS_Store

## MOBILE
# Miscellaneous
mobile/taskmanager/*.log
mobile/taskmanager/*.pyc
mobile/taskmanager/*.swp
mobile/taskmanager/.DS_Store
mobile/taskmanager/lib/.DS_Store
mobile/taskmanager/atom/
mobile/taskmanager/buildlog/
mobile/taskmanager/history
mobile/taskmanager/svn/
mobile/taskmanager/migrate_working_dir/
mobile/taskmanager/*.iml
mobile/taskmanager/*.ipr
mobile/taskmanager/*.iws
mobile/taskmanager/idea/

# Flutter/Dart/Pub related
mobile/taskmanager/**/doc/api/
mobile/taskmanager/**/ios/Flutter/.last_build_id
mobile/taskmanager/.dart_tool/
mobile/taskmanager/flutter-plugins
mobile/taskmanager/flutter-plugins-dependencies
mobile/taskmanager.pub-cache/
mobile/taskmanager/pub/
mobile/taskmanager/build/

# Symbolication related
mobile/taskmanager/app.*.symbols

# Obfuscation related
mobile/taskmanager/app.*.map.json

# Android Studio will place build artifacts here
mobile/taskmanager/android/app/debug
mobile/taskmanager/android/app/profile
mobile/taskmanager/android/app/release

## BACKEND
backend/obj/Debug/net8.0/backend.AssemblyInfo.cs
backend/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache