* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    max-width: 100px; 
    word-wrap: break-word; 
    word-break: break-word; 
    overflow-wrap: break-word; 
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    font-size: 14px;
}

table td:nth-child(4), table td:nth-child(7) {
    font-weight: bold;
}

.add-task-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.add-task-btn:hover {
    background-color: #0056b3;
}

.button-container {
    text-align: center;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.edit-btn {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px; /* Tăng padding cho nút Edit */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #ffa20f;
}

.button-group {
    display: flex; /* Sử dụng flexbox để xếp ngang */
    gap: 5px; /* Khoảng cách giữa các nút */
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
}

.back-arrow:hover {
    background-color: #45a049;
}
